.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    color: #383838;
    font-size: 23px;
    font-weight: 350px;
}
.footer-links{
    display: flex;
    list-style: none ;
    gap: 35px;
    font-size: 10px;
    color: #252525;
}
.footer-link li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 40px;
}
.footer-icon-container{
    padding: 5px;
    padding-bottom: 3px;
    background: #fbfbfb;
    border: 1px solid ebebeb;
    transition: rotate 0.5s ease;
}
.footer-social-icon img:hover{
   rotate: 340deg ;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyright hr{
    width: 60%;
    border: none;
    border-radius: 5px;
    height: 3px;
    background: #c7c7c7;
}
.footer-copyright p{
    margin-bottom: 20px;
}