.offers{
    width:60%;
    height: 80vh;
    display:flex;
    margin-top: 10px;
    margin-left: 180px;
    padding: 0px 70px ;
    margin-bottom: 75px;
    background: linear-gradient(180deg,#fffeff 0%, #0f482022 90%);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #171717;
    font-size:40px;
    font-weight: 300;
}
.offers-left p{
    color:#171717;
    font-size: 11px;
    font-weight: 300;
}
.offers-left button{
    width: 150px;
    height: 35px;
    border-radius: 35px;
    background:#ff4141;
    border: none;
    color: white;
    font-size: 10px;
    font-weight: 250;
    margin-top: 15px ;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 25px;
}

.offers-right img{
   height: 60vh;
}

